{% extends 'base-back.html.twig' %}

{% block title %}RealiserProjet{% endblock %}

{% block body %}
    <h1>RealiserProjet</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Duree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realiser_projet in realiser_projets %}
            <tr>
                <td>{{ realiser_projet.duree }}</td>
                <td>
                    <a href="{{ path('app_realiser_projet_show', {'projet': realiser_projet.projet}) }}">show</a>
                    <a href="{{ path('app_realiser_projet_edit', {'projet': realiser_projet.projet}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_realiser_projet_new') }}">Create new</a>
{% endblock %}
